*{
    font-family: 'Poppins', sans-serif;
}
.home{
    padding-top: 10vh;
    
}
.home .title{
    color: #333;
    filter: drop-shadow(3px 3px 10px grey);
}
.home .card{
    margin: 10vh;
    padding: 10vh;
    height: 60vh;
    background-color: rgb(191, 247, 247);
    border-radius: 10px;
    filter: drop-shadow(3px 3px 10px grey);
    overflow-y: auto;
}
.home .card .list{
    margin-bottom: 4vh;
    background-color: #fff;
    padding-bottom: 1vh;
}

.card .list .title-item{
    background-color: #fff;
    height: 60px;
    width: 100%;
    padding: 10px;
    text-align: start;
    color: #444;
}

.card .list .title-item .action button{
    float: right !important;
    margin-right: 35px;
}

.card .list .add-item{
    margin-left: auto !important;
}

.card .list .list-item{
    height: auto;
    padding-bottom: .8vh;
}

.card .list .list-item h5{
    margin: 17px;
}
.line-title{
    width: 100%;
    background-color: rgb(172, 171, 171);
}
.line-item{
    width: 100%;
    background-color: rgb(216, 216, 214);
}

.form-item{
    position: absolute;
    top: 40%;
    left: 20%;
}

.none{
    display: none;
}